<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mgrmobi.brandbeat"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission
        android:name="com.mgrmobi.brandbeat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mgrmobi.brandbeat.permission.C2D_MESSAGE" />

    <application
        android:name="com.mgrmobi.brandbeat.application.BrandBeatApplication"

        android:allowBackup="true"
        android:icon="@drawable/icon512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="www.brand-beat.com" android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".ui.activity.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.RemindPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"/>
        <activity
            android:name=".ui.activity.WriteReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"/>
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"/>
        <activity
            android:name=".ui.activity.LogOutSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name=".ui.activity.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.NewBrandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.AchivmintsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.AddBrandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.CompareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.CheckedSubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.AddCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"/>

        <activity
            android:name=".ui.activity.ChooseCategoryForReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activity.AnotherUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.activity.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.SeeAllBrandInSubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.HashTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.ChooseBradsForCompareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.widget.view_pager_photo.PhotoViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"/>
        <activity
            android:name=".ui.activity.EditInterestsFromMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.SeeAllReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.NotificationsSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.TermsAndCpnditionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.mgrmobi.rx.activityresult.ActivityForResult"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="com.mgrmobi.rx.permissionresult.ActivityForPermissions"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="com.mgrmobi.rx.permissionresult.ActivityPermissionsRationale"
            android:theme="@style/ThemePermissionsRationale"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.ChooseSubCategoryForCompareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme"
            />
        <activity
            android:name=".ui.activity.best_ui.NewSeeAllBrandInSubCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogTheme" />
        <activity
            android:name=".ui.activity.best_ui.NewBrandPagerActivtiy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.mgrmobi.brandbeat" />

            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.BrandBeatGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.BrandBeatInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="true">
        </service>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8a5d009dc74f84bef1180c15b97a107936ebfd34"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/fb_service"
            android:exported="true"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id"/>
    </application>

</manifest>
